<?xml version="1.0" encoding="utf-8"?>
<!-- https://carlos.mendible.com/2017/08/24/net&#45;core&#45;code&#45;analysis&#45;and&#45;stylecop/ -->
<!-- It's not necessary to add sone `Rule ID=XXX` .
  By defaut, rules are activated -->
<RuleSet Name="Custom Rulset" Description="Custom Rulset" ToolsVersion="15.9">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <!-- It's not necessary to add it. By defaut, this rule is activated -->
    <!-- <Rule Id="UseConfigureAwait" Action="Warning" /> -->
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis"
      RuleNamespace="Microsoft.Rules.Managed">
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- Do not prefix calls with base unless local imple mentation exists  -->
    <Rule Id="SA1100" Action="None" />
    <!-- The parameters must begin on the line after the declaration, whenever
      the parameter span across multiple lines -->
    <Rule Id="SA1116" Action="None" />
    <!--  A constructor should not follow a property -->
    <Rule Id="SA1201" Action="None" />
    <!-- 'public' members must come before 'protected' members -->
    <Rule Id="SA1202" Action="None" />
    <!--  Field '_db' must not begin with an underscore -->
    <Rule Id="SA1309" Action="None" />
    <!-- A closing brace must not be preceded by a blank line. -->
    <Rule Id="SA1508" Action="None" />
    <!-- A single-line comment within C# code is followed by a blank line. -->
    <Rule Id="SA1512" Action="None" />
    <!-- Closing brace must be followed by blank line  -->
    <Rule Id="SA1513" Action="None" />
    <!-- Single-line comment must be preceded by blank line  -->
    <Rule Id="SA1515" Action="None" />
    <!-- A C# code file is missing a standard file header -->
    <Rule Id="SA1633" Action="None" />
    <!-- All diagnostics of XML documentation comments has been disabled due to
      the current project configuration.-->
    <Rule Id="SA1652" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyser.CSharp" RuleNamespace="SonarAnalyser.CSharp">
    <!-- Remove this commented out code. -->
    <Rule Id="S125" Action="None" />
    <!-- Complete the task associated to this 'T\ODO' comment. -->
    <!-- (If you want see where there is T\ODO, simply comment this rule) -->
    <Rule Id="S1135" Action="None" />
  </Rules>
</RuleSet>

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
