@{
  Layout = "./_Layout.cshtml";
}

@RenderSection("h2", required: false)

<div>
  @RenderSection("Details", required: true)
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AbstractEntity.Id">Edit</a> |
    <a asp-page="./ShowAll">Back to List</a>
</div>

@RenderSection("DeleteButton", required: false)

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
