@{
  Layout = "../_Layout.cshtml";
}

@RenderBody()

@if (!@Context.Request.Path.ToString().EndsWith("/Create",
  System.StringComparison.InvariantCultureIgnoreCase))
{
  <a asp-page="./Create">Create</a>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
