html, body {
  background-color: transparent !important;
}

main#first-main h1,
main#first-main hr,
main#first-main form[method="POST"] > table,
main#first-main form[method="POST"] label,
/* main#first-main form[method="POST"] input */
input
{
  display: none ;
}

input#EditButton {
  display: block;
}

.no-style {
  background-color: transparent;
  border : 0;
  border : none;
  margin : 0;
  padding : 0;
  vertical-align : baseline;
}

h2#warning-not-edit-yet {
  margin-bottom: 10em;
}

table#invoice > tbody > tr > td  {
  text-align: left;
}

table#invoice div#addresses {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table#invoice div#addresses span#customer-address {
  padding-right: 6em;
}

table#invoice table#total-price {
  float: right;
  width: 40%;
  margin-right: 10%;
}

table#invoice p.clear {
  clear: both;
}

table#invoice p#payement-condition {
  width: 50%;
  float: right;
  margin-top: 4em;
  font-size: 0.7em;
}

footer {
  font-size: 0.7em;
  width: 100%;
  text-align: center;
}

@media screen {

  html, body {
    margin: 10mm;
    width: 210mm;
  }

}

@media print {

  /* Can't work because counter(page) no implemented too. See REAME.md */
  /* footer > span::after { */
  /*   float: right; */
  /*   padding-right: 3em; */
  /*   content: counter(page) "/" counter(pages); */
  /* } */

  footer {
    position: fixed;
    bottom: 0;
  }

  footer, .tfoot-empty {
    height: 2em;
  }

  footer {
  }

  main#first-main, h2#warning-not-edit-yet {
    display: none !important;
  }

  @page {

    /* Tested well in Chromium 71 and Firefox 64 */
    margin: 8mm;

    size: A4 portrait;

    /* Not implmented in Firefox and Google Chrome: see README.md */
    @bottom-right-corner {
      content: "Page " counter(page);
    }

  }

}

/* vim:sw=2:ts=2:et:fileformat=dos
 */
