@page
@model Videotheque.Pages.ArticlePage.Create

@{
  Layout = "../Layout/_Create.cshtml";
}

@section h1 {
  <span>an Article</span>
}

@section Inputs {
  <div>Barcode: <input asp-for="AbstractEntity.Barcode" /></div>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
