@page
@model Videotheque.Pages.ArticlePage.ShowAll

@{
  Layout = "../Layout/_ShowAll.cshtml";
}

@section h1 {
  <span>Article</span>
}

@section Thead {
  <th>Barcode</th>
  <th>Conservation Disc</th>
  <th>Conservation Box</th>
  <th>Is lost</th>
  <th>Count Borrowing</th>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
