@page
@model RazorPagesContacts.Pages.Create
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!-- Inspired from https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.1&tabs=netcore-cli  -->

<html>
  <body>
    <p>
      Enter your name.
    </p>
    <div asp-validation-summary="All"></div>
    <form method="POST">
      <div>Name: <input asp-for="Customer.Name" /></div>
      <input type="submit" />
    </form>
  </body>
</html>

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
