@page "{id:int}"
@model RazorPagesContacts.Pages.Edit

<!-- Inspired from https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.1&tabs=netcore-cli  -->

@{
    ViewData["Title local"] = "Edit Customer local —";
}

<h1>
  @ViewData["Title local"]
  @ViewData["Title"]
  @Model.Title
  @Model.Customer.Id
</h1>
<form method="post">
  <div asp-validation-summary="All"></div>
  <input asp-for="Customer.Id" type="hidden" />
  <div>
    <label asp-for="Customer.Lastname"></label>
    <div>
      <input asp-for="Customer.Lastname" />
      <span asp-validation-for="Customer.Lastname" ></span>
    </div>
    <div>
      <input asp-for="Customer.Address" />
      <span asp-validation-for="Customer.Address" ></span>
    </div>
  </div>

  <div>
    <button type="submit">Save</button>
  </div>
</form>

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
