@page
@using RazorPagesIntro.Pages
@model Index

<!-- Inspired from https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.1&tabs=netcore-cli -->

<h2>Separate page model</h2>
<p>
  @Model.Message
</p>

<!-- vim: sw=2 ts=2 et: set ++fileformat=dos ft=html -->
