@page

<!-- Inspired from https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-2.1&tabs=netcore-cli -->

<h1>Welcome !</h1>
<a href="./Customer/ShowAll">Customer</a>
<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
