@page "{handler?}/{topN?}"
@model Videotheque.Pages.FilmPage.ShowAll

@{
  Layout = "../Layout/_ShowAll.cshtml";
  ViewData["Title"] = "Film Create";
  ViewData["h1"] = "List of films";
}

@section Search {
  @if (HttpContext.Request.Path.ToString().EndsWith("BestBorrowing",
    System.StringComparison.InvariantCultureIgnoreCase))
  {
    <h2>Top borrowed</h2>
    <a class="btn" asp-page="/Film/ShowAll">
      Come back to list of all Films
    </a>
  }
  else
  {
    <form method="GET">
      <input id="topN" type="number" name="topN"
        placeholder="let empty for infinite"/>
      <input type="submit"
        value="Submite Top N film borrowed"
        class="btn" asp-page-handler="BestBorrowing" />
    </form>
  }
}

@section Thead {
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Title)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].Price)
  </th>
  <th>
    @Html.DisplayNameFor(model => model.AbstractEntities[0].ReleaseDate)
  </th>
  <th>
    Count borrowing
  </th>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
