@using Videotheque.Data
@model Customer

<div class="form-group">
  <label asp-for="Firstname" class="control-label"></label>
  <input asp-for="Firstname" class="form-control" />
  <span asp-validation-for="Firstname" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Lastname" class="control-label"></label>
  <input asp-for="Lastname" class="form-control" />
  <span asp-validation-for="Lastname" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Society" class="control-label"></label>
  <input asp-for="Society" class="form-control" />
  <span asp-validation-for="Society" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Address" class="control-label"></label>
  <input asp-for="Address" class="form-control" />
  <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Phone" class="control-label"></label>
  <input asp-for="Phone" class="form-control" />
  <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="form-group">
  <label asp-for="Email" class="control-label"></label>
  <input asp-for="Email" class="form-control" />
  <span asp-validation-for="Email" class="text-danger"></span>
</div>

@{
  if (@Context.Request.Path.ToString().Contains("/Edit/",
      System.StringComparison.InvariantCultureIgnoreCase))
  {
    @:<div>
      @:<label for="currentlyBorrowed" class="control-label">
      @:  Article Borrowed
      @:</label>
      @:<input type="number" name="currentlyBorrowed" class="form-control" />
      @:<input type="number" name="currentlyBorrowed" class="form-control" />
      @:<input type="number" name="currentlyBorrowed" class="form-control" />
      @:<input type="number" name="currentlyBorrowed" class="form-control" />
      foreach (Article article in Model.CurrentlyBorrowed)
      {
        @:<input type="number" name="currentlyBorrowed" value="@article.Id">
      }
  }
  @:</div>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
