@page
@model Videotheque.Pages.CustomerPage.Create

@{
  Layout = "../Layout/_CreateOrEdit.cshtml";
}

@section h1 {
  <span>Create a Customer</span>
}

@section Inputs {
  @await Html.PartialAsync("_FormPartialView", Model.AbstractEntity )
  <input type="submit" asp-page-handler="JoinList" value="Join" />
  <input type="submit" asp-page-handler="JoinListUC" value="JOIN UC" />
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
