@page "{id:int}"
@model Videotheque.Pages.CustomerPage.Edit

@{
  Layout = "../Layout/_Edit.cshtml";
}

@section Inputs {
  <input asp-for="AbstractEntity.Id" type="hidden" />
  <label asp-for="AbstractEntity.Lastname"></label>
  <div>
    <input asp-for="AbstractEntity.Lastname" />
    <span asp-validation-for="AbstractEntity.Lastname" ></span>
  </div>
  <div>
    <input asp-for="AbstractEntity.Address" />
    <span asp-validation-for="AbstractEntity.Address" ></span>
  </div>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
