@page "{id:int}"
@model Videotheque.Pages.CustomerPage.Edit

@{
  Layout = "../Layout/_CreateOrEdit.cshtml";
  ViewData["Title"] = "Customer Edit";
}

@section h1 {
  <span>Edit a Customer</span>
}

@section Inputs {
  @await Html.PartialAsync("_FormPartialView", Model.AbstractEntity )
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
