@page "{id:int}/{handler?}"
@using Videotheque.Data
@model Videotheque.Pages.CustomerPage.Crud

@{
  Layout = "../Layout/_CreateOrEdit.cshtml";
  ViewData["Title"] = "Customer Edit";
  if(Model.IsInvoice == true)
  {
    ViewData["h1"] = "Facture";
  }
  else
  {
    ViewData["h1"] = "Customer Edit";
  }
}

@section head {
  <link rel="stylesheet" href="/styles/customer-create-edit.css" />
  @if(Model.IsInvoice)
  {
    <link rel="stylesheet" href="/styles/generated-invoice.css" />
  }
}

@section Inputs {
  @if (Model.IsInvoice)
  {
    <input type="hidden" asp-for="@Model.IsInvoice"/>
  }

  <div class="form-group">
    <label asp-for="@Model.AbstractEntity.Id" class="control-label" ></label>
    <input type="text" asp-for="@Model.AbstractEntity.Id" class="form-control"
        disabled />
  </div>

  @await Html.PartialAsync("_FormPartialView", Model.AbstractEntity,
      new ViewDataDictionary(ViewData)
      {
        {"CurrentlyBorrowedList",
          Model.CurrentlyBorrowedList},
        {"ShouldBeRemovedArray",
            Model.ShouldBeRemovedArray},

        {"ArticleIdToBorrowArrayInputValue",
            Model.ArticleIdToBorrowArrayInputValue},
        {"ArticleIdToBorrowLoanDurationArray",
            Model.ArticleIdToBorrowLoanDurationArray},
        {"ValidationMessageArticleIdToBorrowArray",
            Model.ValidationMessageArticleIdToBorrowArray},
      })
}

@if(Model.IsInvoice)
{
  @section SecondMain{
    <h2 id="warning-not-edit-yet">
      <strong><em>WARNING: NOTHING IS SAVED YET</em></strong>
      <br />
      You could print the Invoice below, then click to Button Edit above
      to continue.
      <hr />
      <hr />
    </h2>

    @await Html.PartialAsync("./Customer/_InvoiceGenerated.cshtml",
      Model.AbstractEntity,
      new ViewDataDictionary(ViewData)
      {
        {"CurrentlyBorrowedList",
          Model.CurrentlyBorrowedList},
        {"ShouldBeRemovedArray",
            Model.ShouldBeRemovedArray},
        {"CustomDiscount",
            Model.CustomDiscount}
      })
  }
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
