@page "{id:int?}"
@model Videotheque.Pages.CustomerPage.Crud

@{
  Layout = "../Layout/_CreateOrEdit.cshtml";
  ViewData["Title"] = "Customer Edit";
  ViewData["h1"] = "Edit a Customer";
}

@section Inputs {
  <div class="form-group">
    <label asp-for="@Model.AbstractEntity.Id" class="control-label" ></label>
    <input type="text" asp-for="@Model.AbstractEntity.Id" class="form-control"
        disabled />
  </div>
  @await Html.PartialAsync("_FormPartialView", Model.AbstractEntity )
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
