@page
@model Videotheque.Pages.CustomerPage.ShowAll

@{
  Layout = "../Layout/_ShowAll.cshtml";
}

@section h1 {
  <span>Customers</span>
}

@section Thead {
  <th>Name</th>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
