@page
@model Videotheque.Pages.CustomerPage.ShowAll

@{
  Layout = "../Layout/_ShowAll.cshtml";
    ViewData["Title"] = "Customers";

}

@section h1 {
  <span>Customers</span>
}

@section Thead {
    <th> Firstname  </th>
    <th> Lastname   </th>
    <th> Society    </th>
    <th> Address    </th>
    <th> Phone      </th>
    <th> Email      </th>
}

<!-- vim:sw=2:ts=2:et:fileformat=dos
-->
